.LOAD_ANIMATION {
  animation: loadAnimation 5s ease forwards;
}

.TYPING_ANIMATION {
  animation:
    typing 1.5s steps(40, end),
    blink-caret 0.5s step-end infinite;
}

.BLINK_ANIMATION {
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes loadAnimation {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
