@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('/public/font/css/general-sans.css'); */

/* body {
    font-family: 'general-sans', monospace;
} */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(/sks-painting.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.SHOW_TEXT_1s {
  animation: showText 1s ease forwards;
}

.SHOW_TEXT_2s {
  animation: showText 2s ease forwards;
}

.SHOW_TEXT_STATIC {
    animation: showMenu 0.5s ease forwards;
}

.SHOW_MENU {
    animation: showMenu 0.5s ease forwards;
}

.HIDE_MENU {
    animation: hideMenu 0.5s ease forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideMenu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
