.about-section {
    background-color: rgba(36, 36, 36, 0.6);
}

.about-me {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.about-me > div {
    flex-basis: 50%;
    flex-grow: 1;
}

.about-title {
    text-align: center;
    font-size: 6.5rem;
    margin: 0;
}

.side-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-top: 5rem;
    text-align: center;
}

.headshot {
    max-width: 20rem;
    border-radius: 100%;
}

h2.about-name {
    font-size: 4rem;
    margin: 0;
}

div.about-job {
    font-size: 2.5rem;
}

.phone-email {
    font-size: 2rem;
}

.main-content {
    font-size: 2rem;
    margin-right: 5rem;
}
