@media (min-width: 1200px) {
    .header {
        gap: 3rem;
    }
}

@media (max-width: 1200px) {
    .header {
        gap: 3rem;
    }
}

@media (max-width: 650px) {
    .header {
        gap: 1.5rem;
    }
}

@media (max-width: 550px) {
    .header {
        gap: 0.5rem;
    }
}

.header {
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    padding: 1rem;
}

.nav-item::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url(../assets/sks-painting.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
